@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: left 0.4s ease-in-out;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
}

img {
  transform: scale(1);
  transition: all 1s ease-in-out;
}

img.img-hidden:not(.popup-pic) {
  transform: scale(0);
}

.application {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.application .app-wrapper {
  max-width: 360px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 8vh;
  position: relative;
  left: 0;
}
.header .header-logo {
  max-width: 80px;
}
.header .header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.header .settings-wrapper-header {
  justify-content: space-between;
}
.header .categories-wrapper-header {
  justify-content: space-between;
}
.header .game-wrapper-header .header-wrapper {
  justify-content: center;
}

.game-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-header a {
  width: 30px;
  height: 30px;
}
.game-header .progress-bar {
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
}
.game-header .progress-bar .fill-progress {
  width: 0%;
  height: 3px;
  border-radius: 5px;
  background-color: #c53737;
}
.game-header .time {
  color: #fff;
}

.game-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.game-block .play-with-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}
.game-block .question {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.game-block .questions-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 330px;
  height: 294px;
}
.game-block .questions-block.artists {
  border: none;
  height: 350px;
}
.game-block .questions-block img.artist {
  max-width: 155px;
  max-height: 164px;
  border-radius: 20px;
  border: 2px solid green;
}
.game-block .questions-block img.pictures {
  width: 330px;
  height: 294px;
  border-radius: 20px;
  border: 2px solid green;
}
.game-block .answers-block {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
}
.game-block .answers-block button {
  width: 48%;
  height: 40px;
  border: 2px solid white;
  background: transparent;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  transition: all 0.5s ease;
}
.game-block .answers-block button.correct:active {
  background-color: #5dd15d;
}
.game-block .answers-block button:hover, .game-block .answers-block button:active {
  background-color: rgba(158, 152, 152, 0.418);
}

.main {
  width: 100%;
  height: 79vh;
  position: relative;
  left: 0;
}
.main .main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .settings-wrapper-main {
  justify-content: space-between;
  padding-bottom: 10px;
}
.main .game-wrapper-main {
  justify-content: center;
}

.footer {
  width: 100%;
  height: 13vh;
  position: relative;
  left: 0;
}

.header-wrapper .setting-btn {
  width: 35px;
  height: 35px;
  background-image: url("../assets/icons/carbon_settings.svg");
}

.settings-wrapper-header .btn-arrow {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icons/arrow.svg");
}
.settings-wrapper-header p {
  width: 60%;
  color: #fff;
  font-size: 24px;
}

.volume-block {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.volume-block p {
  color: #fff;
  font-size: 30px;
}
.volume-block input[type=range] {
  width: 80%;
}
.volume-block .icons-wrap {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.volume-block .icons-wrap div {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.volume-block .icons-wrap .mute {
  background-image: url("../assets/icons/volume-mute.svg");
}
.volume-block .icons-wrap .unmute {
  background-image: url("../assets/icons/unmute.svg");
}

.choose-music {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.choose-music p {
  color: #fff;
  font-size: 30px;
}
.choose-music label {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
.choose-music .switcher {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.choose-music .switcher .checkbox-red-switch {
  display: inline-block;
  height: 40px;
  width: 86%;
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
  background: #848484;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.choose-music .switcher .checkbox-red-switch:before {
  content: attr(data-label-on);
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 45px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 38px;
}
.choose-music .switcher .checkbox-red-switch:after {
  content: attr(data-label-off);
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  line-height: 38px;
  font-size: 16px;
  color: #777;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.choose-music .switcher input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.choose-music .switcher input[type=checkbox]:checked + .checkbox-red-switch {
  background-color: #70c767;
}
.choose-music .switcher input[type=checkbox]:checked + .checkbox-red-switch:before {
  content: attr(data-label-off);
  left: 0;
}
.choose-music .switcher input[type=checkbox]:checked + .checkbox-red-switch:after {
  content: attr(data-label-on);
  color: #4fb743;
  transform: translate3d(44px, 0, 0);
}
.choose-music .switcher input[type=checkbox]:not(:disabled) + .checkbox-red-switch:hover {
  cursor: pointer;
}
.choose-music .switcher input[type=checkbox]:not(:disabled) + .checkbox-red-switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.choose-music .switcher input[type=checkbox]:disabled + .checkbox-red-switch {
  opacity: 0.6;
  filter: grayscale(50%);
}
.choose-music .switcher.focused .checkbox-red-switch:after {
  box-shadow: inset 0px 0px 4px #ff5623;
}

.time-game {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.time-game p {
  color: #fff;
  font-size: 30px;
}
.time-game label {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 30px;
}
.time-game .switcher {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.time-game .switcher .checkbox-green-switch {
  display: inline-block;
  height: 40px;
  width: 86%;
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
  background: #848484;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.time-game .switcher .checkbox-green-switch:before {
  content: attr(data-label-on);
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 45px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 38px;
}
.time-game .switcher .checkbox-green-switch:after {
  content: attr(data-label-off);
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  line-height: 38px;
  font-size: 16px;
  color: #777;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.time-game .switcher input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.time-game .switcher input[type=checkbox]:checked + .checkbox-green-switch {
  background-color: #70c767;
}
.time-game .switcher input[type=checkbox]:checked + .checkbox-green-switch:before {
  content: attr(data-label-off);
  left: 0;
}
.time-game .switcher input[type=checkbox]:checked + .checkbox-green-switch:after {
  content: attr(data-label-on);
  color: #4fb743;
  transform: translate3d(44px, 0, 0);
}
.time-game .switcher input[type=checkbox]:not(:disabled) + .checkbox-green-switch:hover {
  cursor: pointer;
}
.time-game .switcher input[type=checkbox]:not(:disabled) + .checkbox-green-switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.time-game .switcher input[type=checkbox]:disabled + .checkbox-green-switch {
  opacity: 0.6;
  filter: grayscale(50%);
}
.time-game .switcher.focused .checkbox-green-switch:after {
  box-shadow: inset 0px 0px 4px #ff5623;
}

.time-choose {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.time-choose p {
  font-size: 30px;
  color: #fff;
}
.time-choose .choose-block {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.time-choose .choose-block input[type=number] {
  width: 30px;
  height: 30px;
  font-size: 24px;
  background: transparent;
  border: none;
  color: #fff;
}
.time-choose .choose-block button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.time-choose .choose-block button:hover, .time-choose .choose-block button:active {
  background: #ee7c7c;
}

.choose-language {
  display: flex;
  width: 80%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.choose-language div .radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
}
.choose-language div .radio + label {
  cursor: pointer;
}
.choose-language div .radio:not(checked) {
  display: none;
}
.choose-language div .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
.choose-language div .radio:not(checked) + label:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
.choose-language div .radio:not(checked) + label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9FD468;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.2s;
}
.choose-language div .radio:checked + label:after {
  opacity: 1;
}

.settings-btn-block {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.settings-btn-block a {
  width: 45%;
  height: 50px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.categories-block {
  padding: 10px 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.categories-block h4 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 24px;
}
.categories-block .categories-block-inner {
  overflow: scroll;
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}
.categories-block .categories-block-inner::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.categories-card {
  position: relative;
  overflow: hidden;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories-card.colored-card {
  filter: none;
}
.categories-card.grey-card {
  filter: grayscale(0.9);
}
.categories-card .card-text {
  display: flex;
  justify-content: space-between;
}
.categories-card img {
  max-width: 155px;
  max-height: 164px;
  border: 2px solid green;
  border-radius: 20px;
}
.categories-card .categories-popup {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(138, 126, 126, 0.596);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  transform: translateY(100%);
  transition: transform 0.8s ease;
}
.categories-card .categories-popup img {
  border: none;
}
.categories-card:hover .categories-popup {
  transform: translateY(0);
}

.main-logo {
  width: 100%;
  height: 62px;
  background-image: url("../assets/icons/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-buttons-wrap {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.main-buttons-wrap a {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.score-btn {
  width: 80%;
  height: 50px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.score-block {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.score-block h3 {
  width: 100%;
  text-align: center;
  font-size: 24px;
}
.score-block .score-block-inner {
  overflow: scroll;
  width: 96%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-top: 20px;
}
.score-block .score-block-inner.empty-score {
  justify-content: center;
  font-size: 40px;
  align-items: center;
  text-align: center;
  padding: 40px;
}
.score-block .score-block-inner::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.score-block .score-block-inner .placeholder-card {
  width: 155px;
  height: 190px;
  border: 2px solid green;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 34px;
  font-weight: 500;
  font-style: italic;
}
.score-block .score-block-inner .placeholder-card p {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 20px;
}
.score-block .score-block-inner .score-card {
  position: relative;
  width: 155px;
  height: 190px;
  border: 2px solid green;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 34px;
  overflow: hidden;
}
.score-block .score-block-inner .score-card .score-card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 0 10px;
  transition: all 0.8s ease-in-out;
}
.score-block .score-block-inner .score-card .score-card-head p {
  font-size: 20px;
  color: #020202;
}
.score-block .score-block-inner .score-card .score-card-head img {
  width: 20px;
  height: 20px;
}
.score-block .score-block-inner .score-card .score-popup {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.568);
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}
.score-block .score-block-inner .score-card .score-popup.hidden {
  transform: translateY(200%);
}
.score-block .score-block-inner .score-card .score-popup .score-name {
  font-size: 18px;
  margin-bottom: 10px;
}
.score-block .score-block-inner .score-card .score-popup .score-pic {
  font-size: 20px;
  font-style: italic;
}
.score-block .score-block-inner .score-card .score-popup .score-year {
  font-size: 16px;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.popup-overlay .popup {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.popup-overlay .popup .popup-pic {
  width: 90%;
  height: 70%;
  border-radius: 40px;
  border: 2px solid #77e977;
}
.popup-overlay .popup .finish-grand {
  border: none;
  width: 60%;
  height: 50%;
}
.popup-overlay .popup .finish-grand.grand {
  height: 30%;
}
.popup-overlay .popup .popup-text-block {
  color: #000;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.popup-overlay .popup .popup-text-block.grand {
  justify-content: space-evenly;
  height: 250px;
}
.popup-overlay .popup .popup-text-block .name {
  font-size: 24px;
  text-align: center;
}
.popup-overlay .popup .popup-text-block .name.finish-success {
  font-size: 30px;
}
.popup-overlay .popup .popup-text-block .name.finish-grand-name {
  font-size: 64px;
  font-weight: bold;
}
.popup-overlay .popup .popup-text-block .author {
  font-size: 20px;
}
.popup-overlay .popup .popup-text-block .author.finish-success {
  font-size: 38px;
}
.popup-overlay .popup .popup-text-block .author.finish-grand-author {
  font-size: 32px;
}
.popup-overlay .popup .finish {
  height: 130px;
}
.popup-overlay .popup .next-btn {
  width: 80%;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: #eb1414;
  color: #fff;
  font-size: 24px;
}
.popup-overlay .popup .next-btn.correct {
  background-color: #4cb338;
}
.popup-overlay .popup .marker {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 9%;
  bottom: 33%;
}
.popup-overlay .popup .finish-popup-btns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.popup-overlay .popup .finish-popup-btns .finish-btn {
  height: 50px;
  width: 45%;
  border-radius: 40px;
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  font-size: 24px;
}
.popup-overlay .popup .finish-popup-btns .finish-btn:active, .popup-overlay .popup .finish-popup-btns .finish-btn:hover {
  background-color: #e79393;
}
.popup-overlay .popup .finish-popup-btns.blitz-popup {
  justify-content: center;
}

.flying-answer {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url("../assets/icons/wrong-ans.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.8s ease-in;
  transform: scale(0);
}
.flying-answer.correct {
  background-image: url("../assets/icons/right-ans.svg");
}
.flying-answer.active {
  -webkit-animation: fly linear 0.5s;
          animation: fly linear 0.5s;
}

@-webkit-keyframes fly {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes fly {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.3);
  }
}
.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}
.footer-wrapper .school {
  width: 60px;
  height: 23px;
  background-image: url("../assets/icons/rs_school_js.svg");
  background-repeat: no-repeat;
}
.footer-wrapper .developer {
  font-size: 18px;
}
.footer-wrapper .year {
  color: #fff;
  font-size: 24px;
}

.categories-wrapper-footer-inner {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
}
.categories-wrapper-footer-inner a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories-wrapper-footer-inner a.active {
  color: #e2ac37;
}
.categories-wrapper-footer-inner a.active path {
  fill: #9c6c03;
}

.hide {
  left: -2000px;
}/*# sourceMappingURL=style.css.map */